body{
    margin: 0;
    background-image: linear-gradient(to right,rgb(173, 100, 173),rgb(231, 167, 47));
    height: 372px;
    width: 760px;
    border: 2px solid black;
    font-family: 'Poppins', sans-serif;
}

.link{
    margin-left: 65px;
    font-size: x-small;
    position: absolute;
}
.nav {
  position: relative;
}

.nav-left {
  float: left;
}
.nav-left img{
    height: 15px;
    width: 15px;
    position: absolute;
  
}


.site-name {
  font-weight: 600;
  font-size: x-small;
   position: absolute;
   margin-left: 15px;
}

.nav-right {
  float: right;
  display: block;
}

.nav-right button {
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 50px;
 font-size: xx-small;
 
}
#white{
     margin-left: 10px;
  background-color: white;
  color: black;
  border-radius: 50px;
  border: 1px double grey ;
}
