body{
    margin: 0;
    background-color: white;
    height: 372px;
    width: 760px;
    font-family: 'Poppins', sans-serif;
}

.nav {
  position: relative;
}

.nav-left {
  float: left;
}
.nav-left img{
    height: 15px;
    width: 15px;
    position: absolute;
  
}


.site-name {
  font-weight: 600;
  font-size: x-small;
   position: absolute;
   margin-left: 15px;
}

.nav-center {
  list-style: none;
  text-align: center;
  font-size: x-small;
  margin: 0;
}

.nav-center li {
  display: inline-block;
  margin: 0 10px;
}
.link{
    margin-left: 65px;
    font-size: x-small;
    position: absolute;
}
.nav-right {
  float: right;
  display: inline;
  position: relative;
}

.nav-right button {
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 50px;
 font-size: xx-small;
}
#white{
  background-color: white;
  color: black;
  border-radius: 50px;
  border: 1px double grey ;
}


.input {
  text-align: center;
  margin-top: 120px;
  font-size: small;
  font-weight: 100;
}

.input input {
  padding: 10px;
  margin-top: 20px;
  width: 260px;
  border-radius: 10px;
  border: .5px solid rgb(194, 185, 185);
  font-size: xx-small;
}
